.footer-container {
    width: 100%;
    max-width: 1440px;
    background: #232027;
    padding: 168px 80px;
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    width: 120px;
}

.footer-list-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.footer-list-title {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: poppins-bold;
    margin-bottom: 30px;
}

.footer-list-ul {
    padding: 0;
}

.footer-list-ul li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 16px;
}

.footer-list-ul li:last-child {
    margin-bottom: 0;
}

.footer-list-ul li:hover {
    color: #3EC2C4;
}

.footer-icons-wrapper img {
    margin-right: 24px;
    cursor: pointer;
}

@media screen and (max-width: 1030px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    .footer-list-wrapper {
        display: block;
        text-align: center;
        padding: 45px 0;
    }
    .footer-list-div {
        margin-bottom: 60px;
    }
    .footer-list-div:last-child {
        margin-bottom: 0;
    }
}